<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" xmlns:ng="http://angularjs.org" ng-app="fbimApp" >
    <head>
    
		<th:block th:include="layout/loginLayout :: pageheader" />
		<script th:src="@{/js/inituser.js}"></script>
    	<link th:href="@{/css/activation.css}" rel="stylesheet" />
    </head>
    <body ng-controller="BodyController">
	    <header th:replace="layout/loginLayout :: header" ></header>
	    	    
	    <div class="panel panel-default activation-pannel" ng-controller="ActivationUserController">
	    	<div class="panel-heading"><h4>[[#{user.useractivation}]]</h4></div>
	    	<div class="panel-body">
			    <form class="form-horizontal" id="userform" name="userform" method="post" th:action="@{/activation/data/saveuser}" enctype="application/json" target="_blank">
				    <div class="form-group">
				      <label class="control-label col-sm-2">[[#{user.username}]]</label>
				      <input type="text" disabled class="form-control" ng-model="savedata.user.username">
				    </div>
				    <div class="form-group">
				      <label class="control-label col-sm-2">[[#{user.firstname}]]</label>
				      <input type="text" ng-class="{'invalid' : !dataValidation['firstname']}" ng-change="validate()" required class="form-control" ng-model="savedata.user.firstname" th:placeholder="#{user.firstnameplaceholder}">
				    </div>
				    <div class="form-group">
				      <label class="control-label col-sm-2">[[#{user.lastname}]]</label>
				      <input type="text" ng-class="{'invalid' : !dataValidation['lastname']}" ng-change="validate()" required class="form-control" ng-model="savedata.user.lastname" th:placeholder="#{user.lastnameplaceholder}">

				    </div>	    
				    <div class="form-group">
				      <label class="control-label col-sm-2">[[#{user.email}]]</label>
				      <div class="input-group group-email">
					  	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					  	<input type="email" ng-class="{'invalid' : !dataValidation['email']}" ng-change="validate()" required class="form-control" ng-model="savedata.user.email" th:placeholder="#{user.emailplaceholder}">
					  </div>

				    </div>
				    <div class="form-group">
				      <label class="control-label col-sm-2">[[#{user.birthdate}]]</label>
				      <input type="date" ng-class="{'invalid' : !dataValidation['birthdate']}" ng-change="validate()" required class="form-control" ng-model="savedata.user.birthdateDate" th:placeholder="#{user.birthdateplaceholder}">
				    </div>
				    
				    <div class="panel panel-default security-panel">
				    	<div class="panel-heading">[[#{common.security}]]</div>
				    	<div class="panel-body">
						    <div class="form-group">
						      <label class="control-label col-sm-2">[[#{user.password}]]</label>
						      <input type="password" ng-class="{'invalid' : !dataValidation['password']}" ng-change="validate()" required ng-model="savedata.password" class="form-control" th:placeholder="#{user.passwordplaceholder}">
						      <div ng-style="passwordStrength"></div>
						    </div>
						    <div class="form-group">
						      <label class="control-label col-sm-2">[[#{user.passwordconfirm}]]</label>
						      <input type="password" ng-class="{'invalid' : !dataValidation['passwordconfirm']}" ng-change="validate()" required ng-model="savedata.passwordconfirm" class="form-control" th:placeholder="#{user.passwordconfirmplaceholder}">
						    </div>
					    </div>
				    </div>
					
					<div class="container gender-panel">
					  <div class="panel panel-default">
					    <div class="panel-heading">[[#{user.gender}]]</div>
					    <div class="panel-body">
							<label class="radio-inline1">[[#{user.genderman}]]</label><input type="radio" name="gender" ng-model="savedata.user.gender" ng-value="1"/>
							<label class="radio-inline1">[[#{user.genderwoman}]]</label><input type="radio" name="gender" ng-model="savedata.user.gender" ng-value="2"/>
						</div>
					  </div>
					</div>
					
					<div>
						<button type="button" class="btn btn-primary save" ng-disabled="!isValidate" ng-click="saveUser()">[[#{common.save}]]</button>
					</div>
					<input type="hidden" th:value="${loggedUser.getUser().getId()}" />
					
			    </form>
			</div>
		
		</div>
		
		<footer th:replace="layout/loginLayout :: footer" ></footer>
    </body>
</html>
