



.navbar-default {
    background-color: #3a4651 !important;
    border: none !important ;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}

.breadcrumb
{
	height: 30px;
	padding-left: 80px;
}

.navbar-user-detail
{
  float: right;  
  margin-right: 30px;
}

.navbar-user-detail .user-detail button span.glyphicon
{
  margin: 0;
  margin-left: 10px;
  font-size: 14px;
  border: 2px solid rgb(51, 51, 51);
  padding: 2px;
  border-radius: 50%;
}


.navbar-user-detail .user-detail button.btn
{
  
  padding-top: 3px;

}

.user-dropdown-menu span.glyphicon
{
  margin-right: 8px;  
}

.page-content
{
	margin-left: 80px;
}

.left-panel
{
	width: 50px; 
	height: calc(100vh - 80px); 
	background-color: #3a4651 !important; 
	position: absolute; 
	left:0; 
	top: 50px;	
	padding: 5px;
	padding-top: 20px;
	overflow-x: hidden; 
}

.left-panel ul
{
	list-style-type: none;	
	padding-top: 10px;	
	margin-left: 0 !important;
    padding-left: 0 !important;
}

.left-panel ul li
{
	clear: both;
	margin-left: 0px;	
	height: 32px;
	margin-bottom: 10px;
}

ul.navbar-nav li
{
	margin-left: 10px;	
	height: 32px;
}

.left-panel ul li.active, ul.navbar-nav li.active
{
	background-color: #85CE36 !important;
	color: rgba(255, 255, 255, 1);
}

.left-panel ul li a div, ul.navbar-nav li a div
{
	float: left;
	display: none;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.left-panel.open ul li a div
{
	display: block;
	width: calc(100% - 70px);
}

.left-panel.open ul li a div, ul.navbar-nav li a div
{
	display: block;
}

.left-panel ul li a i, ul.navbar-nav li a i
{
	clear: both;
	float: left;
	padding: 7px;
	font-size: 18px !important;
	margin-right: 5px;
	margin-left: 5px;
}

.left-panel ul li:not(.active) a i, ul.navbar-nav li:not(.active) a i
{
	background-color: #22282f!important; 
}

.left-panel ul li.active a, ul.navbar-nav li.active a
{
	color: rgba(255, 255, 255, 1); 
}

.left-panel ul li.active a i, ul.navbar-nav li.active a i
{
	background-color: #85CE36 !important;
	color: rgba(255, 255, 255, 1); 
}

.left-panel ul li , .left-panel ul li i, .left-panel ul li a,
ul.navbar-nav li , ul.navbar-nav li i, ul.navbar-nav li a

{
	color: rgba(255, 255, 255, 0.4);
	text-decoration: none;
}

.left-panel ul li:hover , .left-panel ul li:hover i, .left-panel ul li:hover a,
ul.navbar-nav li:hover , ul.navbar-nav li:hover i, ul.navbar-nav li:hover a
{
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

.left-panel ul li:hover:not(.active),
ul.navbar-nav li:hover:not(.active)
{
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	background-color: rgba(133,206,54, 0.5) !important; 
}

ul.navbar-nav 
{
	margin-top: 18px;
}

ul.navbar-nav li a
{
	padding: 0;	
}


.clear
{
	clear: both;
}

.footer
{
	position: fixed;
	left: 0;
	top: calc(100vh - 30px);
	height: 30px;
	width: 100vw;
	line-height: 20px;
	padding: 5px;
	padding-left: 50px;
	background: #e0e0e0;	
	font-size: 10px;
}

.breadcrumb
{
	background-color: #85CE36 !important;
}

.navbar-header
{
	width: 90px;
}

.logo
{
	width: 85px;	
}

