


.form-horizontal .form-group {
    margin-right: 0; 
    margin-left: 0; 
}

.activation-pannel 
{
    width: 600px;
    margin: 40px auto;
}

.activation-pannel label 
{
    width: 140px;
    float: none;
    text-align: left !important;
    padding: 0;
    margin: 0;
}

.activation-pannel input[type="text"]:not(.email-name):not(.email-address),
.activation-pannel input[type="email"]:not(.email-name):not(.email-address),
.activation-pannel input[type="password"],
.activation-pannel input[type="date"], 
.activation-pannel select 
{
    width: calc(100% - 150px);
    float: none;
    display: inline-block;
}

.activation-pannel input.email-name
{
    width: 100px;
    float: none;
    display: inline-block;
}

.activation-pannel input.email-address
{
    width: calc(100% - 278px);
    float: none;
    display: inline-block;
}

.gender-panel
{
	margin: 10px 0;
	width: 405px;
	padding: 0;
}

label.radio-inline1 {
    padding-top: 0px !important;
    margin-left: 20px;
    margin-right: 10px;
    width: inherit;
}

input[type=checkbox], input[type=radio] {
    margin: 0;
}

button.btn.save
{
	float: right;	
	margin-right: 10px;
}

.security-panel
{
	margin: 10px 0;
	padding: 0;
}

.security-panel input[type="password"]
{
	width: 269px !important;
}

.form-control.invalid
{
	border-color: #dc3545;
	box-shadow: 1px 1px 4px #dc3545;
	background-color: #f8d1d6;
}

.group-item
{
	padding: 4px 4px;	
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-bottom: 8px;
}

.group-item:nth-child(odd)
{
	background-color: #ffffec;
}

.group-item:nth-child(even)
{
	background-color: #f7fbff;
}

.list-icon
{
	float: right;	
	cursor: pointer;
}

.list-icon:after
{
	clear: both;	
}


