



.login-container-parent
{
  height: 400px;
  margin-top: 20px;
}

.login-container
{
  height: 300px;
  width: 400px;
  background: rgba(200, 200, 200, 0.5);
  padding: 20px;
  border: 1px solid gray;
  border-radius: 6px;
  margin: 0 auto;
  margin-top: calc(50vh - 190px);
}

.login-container .login-title
{
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.login-container label
{
  margin-bottom: 10px;
  width: 95px;
  font-size: 14px;
  font-weight: normal;
}

.login-container .message
{
  height: 40px;
  line-height: 30px;
  color: red;
  margin-top: 10px;
}

.login-container .submit
{
  width: 90px;
  height: 30px;
  line-height: 20px;
  margin-top: 10px;
}

.login-container input {
	padding: 1px 5px;
}

