<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" ng-app="fbimApp" >
    <head>
    
    	<th:block th:include="layout/mainLayout :: pageheader" />
		
		<script th:src="@{/js/tree.jquery.js}"></script>
		<link rel="stylesheet" th:href="@{/css/jqtree.css}" />
		
		<script th:src="@{/js/ifcview/ifcLoader.js}"></script>
		
		<script th:src="@{/js/ifcviewer.js}"></script>
		<link rel="stylesheet" th:href="@{/css/ifcviewer.css}" />
		
		<script type="text/javascript" th:src="@{/bimsurfer/lib/require.js}"></script>
		
    

		
    </head>
    <body ng-controller="BodyController">
        <header th:replace="layout/mainLayout :: header" ></header>
        <div th:replace="layout/mainLayout :: breadcrumb" ></div>
		
		<div class="page-content" ng-controller="IfcViewerController">
			<h2 th:text="${msg}"></h2>
			
			
			<div id="viewerContainer"></div>
			
			<div class="ifcviewer-projects-container">
				<div class="project-tree-toolbar">
	    			<md-button class="md-icon-button toolbar-button-small" data-toggle="tooltip" ng-click="toggleProjectTree($event)">
						<mat-icon class="mat-icon material-icons" role="image">menu</mat-icon>
					</md-button>
				</div>	
				<div id="project-tree"></div>	

			</div>
			   
			<div class="ifcviewer-modeldetail-container">
				<div id="modeldetail"></div>	

			</div>
			   
			
			
		</div>
		
		
        <footer th:replace="layout/mainLayout :: footer" ></footer>
        
        <script type="text/javascript">
			var loadIfcUrl = [[${loadIfcUrl}]] "";
        </script>
    </body>
</html>
