<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" ng-app="fbimApp" >
    <head>
    
    	<th:block th:include="layout/mainLayout :: pageheader" />
    	
    	<link rel="stylesheet" th:href="@{/css/workflow.css}">
		<script th:src="@{/js/workflow-edit.js}"></script>
    </head>
    <body ng-controller="BodyController">
        <header th:replace="layout/mainLayout :: header" ></header>
        <div th:replace="layout/mainLayout :: breadcrumb" ></div>
		
		<div class="page-content" ng-controller="WorkflowController">
			<div class="page-title"> 
				<span th:text="#{workflow.workflow-create}" class="title-content"></span> 
				<a class="toolbar-item" ng-disabled="!validate()" ng-class="{'disabled': !validate()}" ng-click="save()"><i class="material-icons">done</i></a>
				<a class="toolbar-item" href="/workflow"><i class="material-icons">cancel</i></a>
			</div>
			
		    <div class="panel panel-default project-detail-pannel">
		    	<div class="panel-heading"><h4>[[#{workflow.workflows-detail}]]</h4></div>
		    	<div class="panel-body">
				    <form class="form-horizontal" id="userform" name="userform" method="post" enctype="application/json" target="_blank">
					    <div class="form-group">
							<label class="">[[#{project.project}]]</label>
							<select class="form-control fullline" ng-model="workflow.projectid" ng-change="validate()" ng-class="{'invalid': !validations.project}">
								<option value="0"></option>
								<option th:each="project : ${projects}" th:value="${project.getId()}" th:text="${project.getProjectName()}"></option>
							</select>
					      
					    </div>
					    <div class="form-group">
					      <label class="">[[#{workflow.workflow-name}]]</label>
					      <input type="text" ng-class="{'invalid': !validations.name}" required="required" ng-model="workflow.name" ng-change="validate()" class="form-control fullline" th:title="#{company.companyname}" data-toggle="tooltip">
					    </div>
					    <div class="form-group">
					      <label class="control-label col-sm-2">[[#{workflow.workflow-type}]]</label>
					      <select class="form-control fullline" ng-class="{'invalid': !validations.type}" required="required" ng-model="workflow.type" ng-change="validate()">
					      	<option value="0"></option>
					      	<option th:each="type : ${types}" th:value="${type.getId()}" th:text="${type.getTypeName()}"></option>
					      </select>
					      
					    </div>
					    <div class="form-group">
					      <label class="control-label col-sm-2">[[#{workflow.responsible}]]</label>
					      <select class="form-control fullline" ng-class="{'invalid': !validations.responsible}" required="required" ng-model="workflow.responsible" ng-change="validate()">
					      	<option value="0"></option>
					      	<option ng-repeat="user in users" value="{{user.userId}}">{{user.fullname}}</option>
					      </select>
					      
					    </div>
					    <div class="form-group">
					      <label class="control-label col-sm-2">[[#{workflow.workflow-status}]]</label>
					      <select class="form-control fullline" ng-class="{'invalid': !validations.status}" required="required" ng-model="workflow.status" ng-change="validate()">
					      	<option value="-1"></option>
					      	<option th:each="status : ${statusList}" th:value="${status.getId()}" th:text="${status.getName()}"></option>
					      </select>
					      
					    </div>
						<input type="hidden" th:value="${workflow.getId()}" id="hdnwid" />					
				    </form>
				</div>
				
				<div style="margin-top: 50px; border: 1px solid gray; padding: 10px;">{{test}}</div>
			
			</div>			
		</div>
		
        <footer th:replace="layout/mainLayout :: footer" ></footer>
    </body>
</html>
