<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" ng-app="fbimApp" >
    <head>
    
    	<th:block th:include="layout/mainLayout :: pageheader" />
    	
    	<link rel="stylesheet" th:href="@{/css/workflow.css}">
		<script th:src="@{/js/workflow-delete.js}"></script>
    </head>
    <body ng-controller="BodyController">
        <header th:replace="layout/mainLayout :: header" ></header>
        <div th:replace="layout/mainLayout :: breadcrumb" ></div>
		
		<div class="page-content" ng-controller="ProjectController">
			<div class="page-title"> 
				<span th:text="#{project.projects-delete}" class="title-content"></span> 
				<a class="toolbar-item" ng-click="deleteProject()"><i class="material-icons">done</i></a>
				<a class="toolbar-item" href="/workflow"><i class="material-icons">cancel</i></a>
			</div>
			
			<div class=""></div>
			
			<div class="panel panel-danger">
				<div class="panel-body">
					<span id="deletemsgpanel">[[${msg}]]</span>
				</div>
		    </div>
		    <input type="hidden" th:value="${projectId}" id="hdnpid" />			
		    <input type="hidden" th:value="${projectName}" id="hdnpname" />			
		</div>
		
        <footer th:replace="layout/mainLayout :: footer" ></footer>
    </body>
</html>
