<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" ng-app="fbimApp" >
    <head>
    
    	<th:block th:include="layout/mainLayout :: pageheader" />
    	
    	<link rel="stylesheet" th:href="@{/css/workflow.css}">
    	<link rel="stylesheet" th:href="@{/css/workflow-graph.css}">
		<script th:src="@{/js/workflow-graph.js}"></script>
    </head>
    <body ng-controller="BodyController">
        <header th:replace="layout/mainLayout :: header" ></header>
        <div th:replace="layout/mainLayout :: breadcrumb" ></div>
		
		<div class="page-content" ng-controller="WorkflowGraphController">
			<div class="page-title"> 
				<span th:text="#{workflow.workflow-graph}" class="title-content"></span> 
			</div>
			
			<div class=""></div>
			
			<div class="panel panel-danger timeline-container-panel">
			    <div class="form-group">
					<label class="">[[#{project.project}]]</label>
					<select class="form-control fullline" ng-model="projectId" ng-change="loadWorkflowList()">
						<option value="0"></option>
						<option th:each="project : ${projects}" th:value="${project.getId()}" th:text="${project.getProjectName()}"></option>
					</select>
			      
			    </div>

			    <div class="form-group">
					<label class="">[[#{workflow.workflow}]]</label>
					<select class="form-control fullline" ng-model="workflowId" ng-change="loadWorkflow()">
						<option ng-repeat="wf in workflowList" value="{{wf.id}}">{{wf.name}}</option>
					</select>
			      
			    </div>
			
				<div class="timeline-container"> </div>
				<div class="task-container"> 
					<div ng-repeat="task in workflow.tasks" class="task-item" >
						<input type="checkbox">
						<span>{{task.name}}</span>
					</div>
				</div>
		    </div>
	    	<div style="margin-top: 50px; border: 1px solid gray; padding: 10px;">{{test}}</div>
		</div>
		
        <footer th:replace="layout/mainLayout :: footer" ></footer>
    </body>
</html>
