<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" ng-app="fbimApp" >
    <head>
    
    	<th:block th:include="layout/mainLayout :: pageheader" />
    	
    	<link rel="stylesheet" th:href="@{/css/workflow.css}">
		<script th:src="@{/js/workflow.js}"></script>
    </head>
    <body ng-controller="BodyController">
        <header th:replace="layout/mainLayout :: header" ></header>
        <div th:replace="layout/mainLayout :: breadcrumb" ></div>
		
		<div class="page-content" ng-controller="WorkflowController">
			<div class="page-title"> 
				<span th:text="#{workflow.workflow-list}" class="title-content"></span> 
				<a class="toolbar-item" href="/workflow/create"><i class="material-icons">playlist_add</i></a>	
			</div>
			<div class="project-select-container"> 
				<span th:text="#{project.project}" class="title-content"></span> 
				<select class="" ng-model="selectedProjectId" ng-change="loadWorkflows()">
					<option th:each="project : ${projects}" th:value="${project.getId()}" th:text="${project.getProjectName()}"></option>
				</select>
					
			</div>
			
			<div loading-container="tableParams.settings().$loading">
				
				<div ng-table-pagination="tableParams" template-url="'ng-table/pager.html'"></div>			
				<table ng-table-dynamic="tableParams with columns" class="table table-condensed table-bordered table-striped">		
					<colgroup>
			          <col width="50px"/>
			          <col/>
			          <col width="150px"/>
			          <col width="180px"/>
			          <col width="80px"/>
			          <col width="120px"/>
			          <col width="120px"/>
			          <col width="100px"/>
			        </colgroup>								
					<tr ng-repeat="(rowIndex, row) in $data">
						
						<td ng-repeat="col in $columns" header-class="col.headerClass" ng-bind-html="col.renderValue(this, row, rowIndex + 1)"></td>
						
					</tr>		
				</table>
			</div>			
			
		</div>
		
	    <script th:inline="javascript">
    	var firstProjectId = /*[[${firstProjectId}]]*/ 0;
    	var projectTypes = /*[[${projectTypes}]]*/ [];
    	var columns = [
    		{field: "index", title: "#", },
    		{field: "name", title: /*[[#{workflow.workflow-name}]]*/"", },
    		{field: "typeName", title: /*[[#{workflow.workflow-type}]]*/"", },
    		{field: "responsibleName", title: /*[[#{workflow.responsible}]]*/"", },
    		{field: "statusName", title: /*[[#{workflow.workflow-status}]]*/"", },
    		{field: "startDate", title: /*[[#{workflow.workflow-startdate}]]*/"", },
    		{field: "deadline", title: /*[[#{workflow.workflow-deadline}]]*/"", },
    		{field: "action", title: "", },
    		];
	    </script>
        <footer th:replace="layout/mainLayout :: footer" ></footer>
    </body>
</html>
