@charset "ISO-8859-1";

html, body
{
	overflow-x: hidden;	
}

body
{
	position: relative !important;
    width: 100% !important;
    top: 0px !important;
    background-color: #e6eaec!important;
}

body:not(.overdialog)
{
    overflow: auto !important;
}

body.overdialog
{
    overflow: hidden !important;
}

.navbar {
    margin-bottom: 0 !important;
}

.bimbrain-margin-bkcolor
{
	background-color: #010101!important;		
}

.bimbrain-margin-color
{
	color: #ffffe9!important;
	
}

.bimnavbar
{
	border: none !important;	
	border-radius: 0 !important;
}

button.navbar-user-dropdown
{
	background-color: rgba(255, 255, 100, 0.2) !important;	
}

.bimnavbar ul.nav.navbar-nav 
{
	margin-left: 10px;
}

.bimnavbar ul.nav.navbar-nav li:hover 
{
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0.3);
}

.navbar-brand
{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.logo
{
	height: 45px;
	margin-top: 10px;
}

.loading
{
	z-index:1000; 
	position: absolute; 
	width: 100vw; 
	height: 100vh; 
	top:0; 
	left:0; 
	background-color: rgba(100, 100, 100, 0.3);
	background-image: url(../images/loading200.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.loading-toolbar
{
	width: 30px; 
	height: 30px; 
	background-image: url(../images/loading200.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px 30px;
}

.loading-toolbar-22
{
	width: 22px; 
	height: 22px; 
	background-image: url(../images/loading200.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px 22px;
}

.clear
{
	clear: both;
}

.navbar-user-detail
{
	float: right;	
	margin-right: 30px;
}

.navbar-user-detail .user-detail button span.glyphicon
{
	margin: 0;
    margin-left: 10px;
    font-size: 14px;
    border: 2px solid rgb(51, 51, 51);
    padding: 2px;
    border-radius: 50%;
}


.navbar-user-detail .user-detail button.btn
{
	
    padding-top: 3px;

}

.user-dropdown-menu span.glyphicon
{
	margin-right: 8px;	
}

.dropdown-menu>li>a
{
	font-size: 12px !important;	
}

.close-right-menu
{
	position:absolute !important; 
	bottom:10px !important;	
}

md-menu-bar
{
	margin-top: 12px;	
}

md-menu:not(.submenu)
{
	margin-right: 30px;
}

span.menu-image
{
	margin-right: 5px;
}

span.submenu
{
	margin-right: 5px;
	float: right;
}

span.submenu:after
{
	clear: both;
}

div.md-accordion-group
{
	width: 310px !important;
}

div.md-accordion-content
{
	border: 1px solid gray;
    margin: 3px;
    margin-bottom: 5px;
}

button.md-accordion-toggle
{
	background: linear-gradient(lightgray, #eeeeee);
}

md-chips button i.material-icons, button.remove i.material-icons
{
	color: #aa3333 !important;
	fill: #aa3333 !important;
}

md-chip-template div
{
	float: left;	
	margin-right: 5px !important;	
}

md-chip-template button.md-chip-remove
{
	float: right !important;
	height: 25px !important;
	margin-right: -8px !important;	
	margin-top: 3px !important;	
}

md-chip-template button.md-chip-remove:after
{
	clear: both;	
}


tr.goldenrow:nth-child(even)
{
	background-color: #ffffea;
}

tr.goldenrow:nth-child(odd)
{
	background-color: #ffecff;
}

table.customers-list tbody tr:hover
{
	background-color: #c4e1ff;
}

tr.sourcerow
{
	background-color: #efe;
}

table.customers-list tbody tr td:not(.devider)
{
	color: #006464;
	font-weight: normal;
	font-size: 12px;	
	/*border: 1px solid gray;*/
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	padding: 5px;
}

table.customers-list thead tr th.action
{
	width: 40px;
}

td.devider
{
    height: 10px;
    background-color: transparent;
    border: none !important;
    height: 3px !important; 
    padding: 3px !important;
}

button.toolbar-button-small, button.action-button-small
{
	height: 22px !important;
    padding: 1px !important;
    width: 26px !important;
    margin: 0 !important;
    min-height: 22px !important;
}

.dialog-log, .dialog-edit
{
	position: fixed !important;
	top: 50px !important;
	width: 900px;
	max-height: 800px;
}

.dialog-edit .md-errors-spacer, .dialog-edit md-input-container:after
{
	display: none !important;
}

.dialog-edit md-input-container
{
	margin: 0 !important;
}

.dialog-edit md-input-container input.md-input
{
	border: 1px solid gray !important;
	margin: 3px !important;
}

.dialog-edit md-input-container input.md-input
{
	padding: 5px !important;
}

.dialog-edit md-input-container label
{
	margin-left: 5px !important;
}

.dialog-edit .tel-detail input.countrypart, .dialog-edit .tel-detail input.areaypart
{
	width: 70px !important;
	margin: 5px !important;
}

.dialog-edit md-select
{
	margin: 5px !important;
	height: 30px !important;
	min-height: 30px !important;
	width: 170px;
	border: 1px solid gray !important;
}


.dialog-edit .address-detail md-select
{
	margin: 10px 0 !important;
}

.dialog-edit .email-detail input
{
	width: 360px !important;
}

.md-scroll-mask
{
	
	position: fixed !important;
	
}

div.page-maincontent
{
	margin: 30px 40px 0px 40px;	
	padding: 20px;
	background-color: #fafaf7;
	min-height: calc(100vh - 140px);
}

.top-toolbar md-select.md-default-theme .md-select-value.md-select-placeholder, 
.top-toolbar md-select .md-select-value.md-select-placeholder
{
	color: #f4f4bb;
	
}

.top-toolbar md-input-container input.md-input
{
	color: #f4f4bb;
	
}

.top-toolbar md-input-container.md-input-focused .md-text, .top-toolbar md-input-container.md-input-focused span
{
	color: #fe8d8d;
	
}

.top-toolbar .search-button
{
	margin-left: 40px;
	
}

.breadcrumb
{
	    margin-bottom: 0 !important;
}

.ng-table th.filter .input-filter
{
	padding: 3px !important;
	font-size: 12px !important;
    height: 26px !important;
    min-height: 26px !important;
    float: left;
}

.ng-table th.filter .clear-filter
{
	margin-top: -22px;
    float: right;
    cursor: pointer;
}

.ng-table th.filter .clear-filter i
{
    color: #b7360b;
    font-size: 18px !important;
}

.dialog-edit .address-detail input[ng-model], .dialog-edit .address-detail md-select
{
	width: 170px;
}

.dialog-edit .personal-detail label, .dialog-edit .detail-list label
{
	margin-left: 10px;
	margin-right: 4px;
}

.dialog-edit .personal-detail label:first-child, .dialog-edit .detail-list label:first-child
{
	margin-left: 5px;
}

.dialog-edit .address-detail .layout-row
{
	padding: 4px 3px;
}

.dialog-edit .address-table .remove-cel
{
	text-align: right;
	width: 30px;
}

.dialog-edit .address-detail md-select
{
	margin-left: 0 !important;
}

.dialog-edit .detail-list input:not(:disabled), 
.dialog-edit .detail-list md-select-value:not(:disabled),  
.dialog-edit .md-datepicker-input:not(:disabled)
{
	background-color: white !important;
}

.dialog-edit button.md-datepicker-button
{
	margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
    width: 30px !important;
}

.dialog-edit div.md-datepicker-input-container
{
	margin-left: 0 !important;
}

.dialog-edit md-dialog-actions button
{
	background-color: #c9c9c9;
	line-height: 26px !important;
	min-height: 26px !important;
	padding: 4px 8px  !important;
}

.dialog-edit md-dialog-actions button div.title
{
	float:left; 
	margin-right: 6px;
}

.dialog-edit md-dialog-actions button i.material-icons
{
	float:right; 
	
}

.dialog-edit md-dialog-actions button i.material-icons:after
{
	clear: both;
	
}

.dialog-edit .personal-detail input
{
	width: 120px !important;
}

.dialog-edit .err-message
 {
    color: rgb(221,44,0);
    font-weight: bold;
}

.top-toolbar .err-message
 {
    color: #fb2626;
    font-weight: bold;
    text-align: center;
}

.top-toolbar .clear-button
{
	margin-top: -22px;
    float: right;
    margin-left: -25px;
    background: none;
    border: none;
    color: #f57d55;
    margin-right: 0;
    padding: 0;	
}

textarea:disabled, input:disabled
{
	color: #b5b5b5 !important;
	background-color: #ebebe4 !important;
}

.padd-5
{
	padding: 5px;	
}

.padd-10
{
	padding: 10px;	
}

.margin-5
{
	margin: 5px;	
}


div.errorbox-container
{
	top: 0px; 
	height: 100vh; 
	background-color: rgba(70, 70, 70, 0.4);
	z-index: 10000;	
}

md-dialog.dialog-error
{
	min-width: 500px;
}

md-dialog.dialog-error div.md-dialog-content
{
	color: rgb(221,44,0) !important;
	font-weight: bold;
}

.dialog-error md-dialog-actions button i.material-icons {
    float: right;
}

.dialog-error md-dialog-actions button div.title {
    float: left;
    margin-right: 6px;
}

.dialog-error md-dialog-actions button {
    background-color: #c9c9c9;
    line-height: 26px !important;
    min-height: 26px !important;
    padding: 4px 8px !important;
}

.leftToolbar
{
	border: none!important;	
	margin: 0;
	width: 150px;
    height: calc(100vh - 85px);
    padding: 10px;
    padding-top: 35px;
}

.leftToolbar a, .leftToolbar a:hover, .leftToolbar a:active, .leftToolbar a:visited
{
	text-decoration: none;
}

.leftToolbar .lefttoolbar-item
{
	margin: 5px;
	margin-top: 10px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.leftToolbar .lefttoolbar-item:hover
{
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0.3);
}

.floatLeft
{
	float: left;	
}

.page-content
{
    padding: 10px;
    width: calc(100vw - 180px);
}

.footer
{
	border: none!important;	
	margin: 0;
	height: 35px;
	line-height: 35px;
    padding: 3px;
    padding-top: 5px;
    padding-left: 10%;
}

.page-conent-title
{
	padding: 5px;
	background-color: #dedede;
	font-size: 26px;
	font-weight: bold;
}


