@charset "ISO-8859-1";

table.companies-list
{
	width: 100% ;
	border: 1px solid gray;
	border-spacing: 0px 5px;
}

table.companies-list thead tr th
{
	background-color: #dfdfdf;
	color: #000071;
	font-weight: bold;
	font-size: 14px;
	height: 30px;
	border: 1px solid gray;
	text-align: center;
}

table.companies-list tbody tr td
{
	background-color: transparent;
	font-size: 14px;
	height: 25px;
	border: 1px solid gray;
	text-align: center;
}

table.companies-list tbody tr:nth-child(odd)
{
	background-color: #f0fff1;
}

table.companies-list tbody tr:nth-child(even)
{
	background-color: #ffeee8;
}

table.companies-list tbody tr:hover
{
	background-color: #e8f0ff;
}


table.companies-list thead tr th.row-index
{
	width: 50px;
}

table.companies-list thead tr th.action, table.companies-list tbody tr td.action
{
	width: 90px;
}

table.companies-list tbody tr td.action i.material-icons
{
	font-size: 20px !important;
}

table.companies-list tbody tr td.action button.toolbar-button-small, 
table.companies-list tbody tr td.action button.action-button-small
{
	width: 20px !important;
}

table.companies-list tbody tr td.action a.toolbar-button-small, 
table.companies-list tbody tr td.action a.action-button-small
{
	width: 20px !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 20px !important;
    min-height: 22px !important;
}

table.companies-list tbody tr
{
	background-color: #e3e7f4;
}


table.companies-list tbody tr.nodata
{
	background-color: #e3e7f4;
}

.toolbar {
    margin-left: 50px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 40px;
    padding: 4px;
    background: #e1e1e1;
}

.toolbar-options md-radio-button
{
	float: left;
	margin-bottom: 0 !important;	
	margin-right: 10px !important;	
}

.toolbar-options:after
{
	clear: both;	
}

.top-toolbar
{
	padding: 5px;
	padding-left: 50px;
	font-size: 14px !important;
	line-height: 15px !important;
	margin-bottom: 15px;
}

.top-toolbar .md-button
{
	
}

md-toolbar md-input-container
{
	margin:0 !important;
	margin-top: 18px !important;
    margin-right: 5px !important;
    max-width: 200px !important;
}

md-toolbar md-input-container md-select
{
    max-width: 200px !important;
}

.top-toolbar md-radio-group
{
	margin-top: 5px;
	margin-right: 40px;
}

div.top-pagination
{
	margin: 10px 50px;
}

div[template-url="templates.pagination"]
{
	display: none;
}

ul.pagination
{
	margin-top: 0;
	margin-bottom: 0;
		
}

md-toolbar md-input-container label
{
	color: #ffffe3 !important;
}

.ng-table th.filter .input-filter
{
	
}

.dialog-edit .personal-detail label
{
	width: 90px;	
}

.dialog-edit .personal-detail div.prow
{
	padding-bottom: 10px;	
}

.dialog-edit .address-table
{
	width: 100%;
	border-collapse: separate;
    border-spacing: 5px;
    padding-bottom: 10px;
}

.dialog-edit div.address-detail button.md-button.md-icon-button
{
	margin-top: -20px !important;
}

.dialog-edit div.tel-detail button.md-button.md-icon-button:not(.inline-botton), 
.dialog-edit div.email-detail button.md-button.md-icon-button:not(.inline-botton)
{
	margin-top: 10px !important;
}

.dialog-edit div.email-detail button.md-button.md-icon-button.inline-botton
{
	margin: 0 !important;
    padding: 0 !important;
    height: 24px !important;
    min-height: 24px !important;
}

.dialog-edit .tel-detail input.subscriberpart,
.dialog-edit .email-detail input
{
	width: 210px !important;
	margin: 5px !important;
}

md-select.invalid md-select-value
{
	border: red 1px solid;
}

div.data-preview
{
	float: left;
	padding: 5px;
	padding-right: 10px;	
	margin-right: 5px;
}

div.data-preview:not(.no-border)
{
	border-right: 1px solid gray;
}

div.address-item
{
	margin-bottom: 10px;
	padding: 10px;
}

div.address-item:not(:last-child)
{
	border-bottom: lightgrey solid 1px;
}

