<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" ng-app="fbimApp" >
    <head>
    
    	<th:block th:include="layout/mainLayout :: pageheader" />
    	
    	<link rel="stylesheet" th:href="@{/css/projects.css}">
		<script th:src="@{/js/projects.js}"></script>
    </head>
    <body ng-controller="BodyController">
        <header th:replace="layout/mainLayout :: header" ></header>
        <div th:replace="layout/mainLayout :: breadcrumb" ></div>
		
		<div class="page-content" ng-controller="ProjectController">
			<div class="page-title"> 
				<span th:text="#{project.projects-list}" class="title-content"></span> 
				<a class="toolbar-item" href="/projects/create"><i class="material-icons" ng-click="addAddress()">playlist_add</i></a>
			
			</div>
			
			<div loading-container="tableParams.settings().$loading">
				
				<div ng-table-pagination="tableParams" template-url="'ng-table/pager.html'"></div>			
				<table ng-table-dynamic="tableParams with columns" class="table table-condensed table-bordered table-striped">		
					<colgroup>
			          <col width="50px"/>
			          <col/>
			          <col width="100px"/>
			          <col width="120px"/>
			          <col width="120px"/>
			          <col width="120px"/>
			          <col width="100px"/>
			        </colgroup>								
					<tr ng-repeat="row in $data">
						
						<td ng-repeat="col in $columns" header-class="col.headerClass" ng-bind-html="col.renderValue(this, row, $index)"></td>
						
					</tr>		
				</table>
			</div>			
			
		</div>
		
	    <script th:inline="javascript">
    	var projectTypes = /*[[${projectTypes}]]*/ [];
    	var columns = [
    		{field: "index", title: "#", },
    		{field: "projectName", title: /*[[#{project.project-name}]]*/"", },
    		{field: "projectTypeName", title: /*[[#{project.project-type}]]*/"", },
    		{field: "statusName", title: /*[[#{project.project-status}]]*/"", },
    		{field: "startDate", title: /*[[#{project.project-startdate}]]*/"", },
    		{field: "deadline", title: /*[[#{project.project-deadline}]]*/"", },
    		{field: "action", title: "", },
    		];
	    </script>
        <footer th:replace="layout/mainLayout :: footer" ></footer>
    </body>
</html>
