<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" ng-app="fbimApp" >
    <head>
    
    	<th:block th:include="layout/mainLayout :: pageheader" />
    	
    	<link rel="stylesheet" th:href="@{/css/projects.css}">
		<script th:src="@{/js/projects-view.js}"></script>
    </head>
    <body ng-controller="BodyController">
        <header th:replace="layout/mainLayout :: header" ></header>
        <div th:replace="layout/mainLayout :: breadcrumb" ></div>
		
		<div class="page-content" ng-controller="ProjectController">
			<div class="page-title"> 
				<span th:text="#{project.projects-detail}" class="title-content"></span> 
				<a class="toolbar-item" th:href="${'/projects/update/' + projectId}"><i class="material-icons">edit</i></a>
				<a class="toolbar-item" href="/projects"><i class="material-icons">cancel</i></a>
			</div>
			
		    <div class="panel panel-default project-detail-pannel">
		    	<div class="panel-heading">[[#{project.projects-detail}]]</div>
		    	<div class="panel-body">
				    <form class="form-horizontal" id="userform" name="userform" method="post" enctype="application/json" target="_blank">
					    <div class="form-group">
					      <label class="control-label col-sm-2">[[#{project.project-name}]]</label>
					      <span class="fullline" ng-bind-html="project.projectName"></span>
					    </div>
					    <div class="form-group">
					      <label class="control-label col-sm-2">[[#{project.project-type}]]</label>
					      <span class="fullline" ng-bind-html="project.projectTypeName"></span>					      
					    </div>
					    <div class="form-group">
					      <label class="control-label col-sm-2">[[#{project.project-status}]]</label>
					      <span class="fullline" ng-bind-html="project.statusName"></span>					      
					    </div>
					    <div class="form-group">
					      <label class="control-label col-sm-2">[[#{project.project-startdate}]]</label>
					      <span class="fullline" ng-bind-html="project.startDate | date : 'dd.MM.yyyy'"></span>
					    </div>
					    <div class="form-group">
					      <label class="control-label col-sm-2">[[#{project.project-deadline}]]</label>
					      <span class="fullline" ng-bind-html="project.deadline | date : 'dd.MM.yyyy'"></span>
					    </div>					    					    
						<input type="hidden" th:value="${projectId}" id="hdnpid" />					
				    </form>
				</div>
			
			</div>

		    <div class="panel panel-default project-detail-pannel">
		    	<div class="panel-heading">
		    		<span>[[#{project.project-users}]]</span>
					<i class="material-icons list-icon" ng-click="toggleUserSelect(true)">playlist_add</i>
				</div>
		    	<div class="panel-body">		    		
					<div loading-container="tableUsers.settings().$loading">
						
						<table ng-table="tableUsers" class="table table-condensed table-bordered table-striped">		
							<colgroup>
					          <col/>
					          <col width="120px"/>
					          <col width="180px"/>
					          <col width="80px"/>
					        </colgroup>	
							<thead>
								<tr class="ng-table-sort-header">
								    <th title="" ng-repeat="$column in usersColumns" ng-class="{
								                    'sortable': $column.sortable,
								                    'sort-asc': params.sorting()[$column.sortable]=='asc',
								                    'sort-desc': params.sorting()[$column.sortable]=='desc'
								                  }" ng-click="pSortBy($column, $event)" ng-if="$column.show" class="header " role="button" tabindex="0">
								        	<div ng-if="!template" class="ng-table-header ng-scope" ng-class="{'sort-indicator': params.settings().sortingIndicator == 'div'}">
								            <span ng-bind="$column.title" ng-class="{'sort-indicator': params.settings().sortingIndicator == 'span'}" class="ng-binding sort-indicator" style=""></span>
								        </div>
								        
								    </th>
								    <th>
								    </th>
								</tr>
							
							</thead>					        
					        					
							<tr ng-repeat="(rowIndex, row) in $data" class="project-user-item" data-user="{{row.userId}}">
								<td ng-repeat="col in usersColumns" ng-bind-html="col.renderValue(this, row, rowIndex + 1)"></td>
								<td>
									<a class="toolbar-item user-toolbar-item-edit" ng-click="editProjectUser(row.userId)"><i class="material-icons">edit</i></a>
									<a class="toolbar-item user-toolbar-item-delete" ng-click="deleteProjectUser(row.userId)"><i class="material-icons">delete</i></a>
								
								</td>
							</tr>	
						
						</table>
					</div>	
							    		
				</div>
			</div>	

		    <div class="panel panel-default project-detail-pannel">
		    	<div class="panel-heading">
		    		<span>[[#{project.project-tasks}]]</span>
					<i class="material-icons list-icon" ng-click="">playlist_add</i>
				</div>
		    	<div class="panel-body">
				</div>
			</div>	
					
			<div style="margin-top: 50px; border: 1px solid gray; padding: 10px;">{{test}}</div>
			
			<div class="user-select-background" ng-hide="!showUserSelect">
				<div class="user-select-container">
					<div class="toolbar">
						<span class="title">[[#{project.adduser}]]</span>
						<i class="material-icons list-icon" ng-click="toggleUserSelect(false)">close</i>
						<i class="material-icons list-icon" ng-click="toggleUserSelect(false)">add</i>
					</div>
					<div class="user-select list-group">
						<a class="list-group-item" ng-repeat="user in notInProjectUsers()" ng-click="addUser(user.id)">{{user.fullname}}</a>
						
					</div>		
				</div>
			</div>
		</div>
		
	    <script th:inline="javascript">
    	var usersColumns = [
    		{field: "fullname", title: /*[[#{user.fullname}]]*/"", sortable: "fullname", direction: "asc"},
    		{field: "rolename", title: /*[[#{project.role}]]*/"", sortable: "rolename", direction: "asc"},
    		{field: "accessTypeName", title: /*[[#{project.accesstype}]]*/"", sortable: "accessTypeName", direction: "asc"},
    		
    		];
	    </script>
		
        <footer th:replace="layout/mainLayout :: footer" ></footer>
    </body>
</html>
